<web-app>
<servlet>
<servlet-name>ms</servlet-name>
<servlet-class>Myservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ms</servlet-name>
<url-pattern>/ms</url-pattern>
</servlet-mapping>
<filter>
<filter-name>mf</filter-name>
<filter-class>MyFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>mf</filter-name>
<url-pattern>/ms</url-pattern>
</filter-mapping>
</web-app>